body {
    background-color: white;
    font-family: 'Itim', cursive;
    margin: auto;
}

menu {
    width: 100%;
    height: 115px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    background-color: #B81919;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

menu .left-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

menu .left-menu .img-top {
    width: 100px;
    height: 78px;
    margin: 0 30px;
}

menu .left-menu input {
    border-radius: 15px;
    border: 2px solid black;
    height: 40px;
    width: 250px;
    margin: 0 30px;
}

menu li a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

menu .btns {
    display: flex;
    flex-direction: row;
    /* width: 600px; */
}

.main {
    max-width: 1200px;
    margin: auto;
}

.main .intro {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    width: 100%;
    height: 115px;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 20px 0 ;
    background-color: #B81919;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 24px;
    bottom: 0;
    position: fixed
}


